.approval__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: @color-background;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.approval__item {
  &:first-child {
    @media (max-width: @mobile-width-only) {
      clip-path: polygon(0 0, 50% 5%, 100% 0, 100% 100%, 0 100%);
      padding-top: calc(5% + 33px);
    }
  }

  &--extreme {
    color: @color-text-secondary;
    background-color: @color-main;

    @media (min-width: @tablet-width) {
      grid-column: 1 / 4;
      display: flex;
    }
  }

  &--action {
    text-align: left;
  }

  &--regular {
    background-color: @color-advantages;
  }
}

.approval__container {
  padding: 24px 26px;
}

.approval__container--extreme {
  padding: 37px 18px;
}

.approval__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
