.description {
  // background-color: @color-main;
  background-image: url("../img/description-mask.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto;
  padding: 32px 18px 53px;
}

.description__statement {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.description__reasons {
  color: @color-text-paragraph;
}
