.field {
  border: none;
  background-color: #f2f2f2;
  color: @color-text-main;
  font-family: @font-main;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size-lardge;
  line-height: 26px;
  padding: 16px 74px 16px 16px;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background-color: @color-field-hover;
  }

  &:active {
    background-color: @color-background;
    outline: 4px solid @color-field-hover;
  }
}
