.footer {
  padding: 40px 16px 22px;

  @media (min-width: @tablet-width) {
    padding: 36px 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 125px;
  }

  &--inner {
    padding-top: 25px;

    @media (min-width: @tablet-width) {
      padding: 36px 57px 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 36px 118px 30px;
    }
  }
}

.footer__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__contacts {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.footer__contacts-reference {
  font-weight: 700;
  font-size: @font-size-extralardge;
  line-height: 26px;
  text-decoration: none;
  color: @color-text-main;

  &:hover {
    color: @color-text-menu-hover;
  }

  &:active {
    color: @color-text-footer-active;
  }
}

.footer__social {
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
