.input-text {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.input-text__title {
  padding: 24px 0 20px;
}

.input-text__emotions {
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px;
  height: 150px;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: @color-field-hover;
  }

  &:active {
    background-color: @color-background;
    outline: 4px solid @color-field-hover;
  }
}
