.welcome {
  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome-mask.svg"), url("../img/back-desktop@2x.webp");
  }

  background-image: url("../img/welcome-mask.svg"), url("../img/back-desktop.webp");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  background-color: #3d4045;
  padding: 0 18px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
    background-size: auto, 1200px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}
